# Google (default)
GOOGLE_API_KEY=your-key-here

# or
OPENAI_API_KEY=your-key-here

# or
ANTHROPIC_API_KEY=your-key-here


# ChromaDB
CHROMA_PERSIST_DIR=.chromadb/
CHROMA_COLLECTION=codebase
EMBEDDING_MODEL=text-embedding-3-small


# Qdrant
# Only needed when vector_store.provider in config.yaml is qdrant
QDRANT_URL=http://localhost:6333
QDRANT_API_KEY=your-key-here


# Langsmith
LANGSMITH_TRACING=false
LANGSMITH_API_KEY=your-key-here
